.container-home-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 0;
    text-transform: capitalize;
}

.container-home-title > span {
    width: 50px;
    height: 5px;
    background: coral;
}

.title {
    font-size: 2rem;
    padding: .5rem;
    position: relative;
}
