.section-cart {
    margin-top: 7rem;
}

.cont-flex {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    margin: 2rem;
}

.cont-product-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.cont-product {
    width: 50%;
}

/*Dark mood*/ 

.container-layout-dark .delete-item {
    background-color: rgb(53, 53, 53);
    color: white;
}

@media screen and (max-width: 400px) {
    .section-cart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cont-flex {
        gap: 3rem;
        flex-direction: column;
        margin: 0;
    }
    .cont-product {
        width: 100%;
    }
    .cont-flex .cont-pay {
        width: 100%;
    }
}


