.section-cart {
    margin-top: 7rem;
}

.cont-flex {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    margin: 2rem;
}

.cont-product-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.cont-product {
    width: 50%;
}

@media screen and (max-width: 400px) {
    .cont-flex {
        gap: 3rem;
        flex-direction: column;
    }
    .cont-product {
        width: 100%;
    }
    .cont-flex .cont-pay {
        width: 100%;
    }
}


