.contact-form > * {
    padding: .5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    font-size: .85rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.contact-form input {
    border: 0;
    border-bottom: thin solid #ccc;
    padding-left: 0;
}

.contact-form input:focus {
    outline: 0;
    border-bottom: thin solid #ccc;
}

.contact-form textarea {
    border: thin solid #ccc;
}

.contact textarea:focus {
    outline: 0;
}

.contact-form *::placeholder {
    color: black;
}

/*Dark mood*/

.container-layout-dark .contact-form > input[type="text"],
.container-layout-dark .contact-form > input[type="email"],
.container-layout-dark .contact-form > textarea {
    background-color: #ccc;
    padding-left: .3rem;
}

.container-layout-dark .contact-form > input[type="submit"] {
    background-color:  yellow;
}

.container-layout-dark .contact-form > input[type="submit"]:hover {
    background-color:  rgb(255, 255, 154);
}