.loader{
    margin: 0;
    padding: 0;
}

.container-section {

}

.container-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    justify-content: space-around;
}