.container-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}

.container-item-list {
    padding: 2rem 1rem;
}