.container-item-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.container-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

@media screen and (max-width: 768px) {
    .container-items {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    .container-items {
        grid-template-columns: 1fr;
    }
}

