header {
 background: transparent;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    position: fixed;
    z-index: 5000;
}

nav ul {
    list-style: none;
    display: flex;
}

/*Change mood*/
nav ul >  span{
    margin-left: 15px;
}

nav ul a {
    margin-left: 15px;
}

.container-logo {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-logo img {
    width: 100%;
}

.light-mood > nav {
    background: rgba(172, 250, 172, 0.822);
}

.dark-mood > nav {
    background: rgb(53, 53, 53);
}

.dark-mood button {
    background: rgb(53, 53, 53);
    border: 1px solid white;
    color: white;
}

.dark-mood a:nth-of-type(5) > button {
    border: 1px solid transparent;
}

.dark-mood svg {
    margin-left: 15px;
    fill: white;
}
.light-mood svg {
    margin-left: 15px;
}

.dark-mood .list-control {
    background-color: rgb(53, 53, 53);
}

/*Menu hamburguesa*/
nav > button:nth-child(1) {
    display: none;
}

@media screen and (max-width: 400px) {
    header {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        position: absolute;
        flex-direction: column;
        background: rgba(172, 250, 172, 0.822);
        top: 5.419rem;
        left: 0;
        opacity: 0;
        pointer-events: none;
    }
    
    nav ul > a {
        width: 100%;
        margin: 0;
    }
    nav ul > a > li {
        width: 100%;
    }
    nav ul > a > li > button {
        width: 100%;
        border: none !important;
        border-radius: 0px !important;
    }
    nav ul > a > li > button > span {
        padding: .5rem;
        
    }
    .MuiButtonBase-root.MuiButton-root.MuiButton-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuHam {
        transition: all 1s ease;
        opacity: 1;
        pointer-events: auto;
        animation-duration: 1s;
    }
}