nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

/*Change mood*/
nav ul >  span{
    margin-left: 15px;
}

nav ul a {
    margin-left: 15px;
}

.container-logo {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-logo img {
    width: 100%;
}

.light-mood > nav {
    background: rgb(172, 250, 172);
}

.dark-mood > nav {
    background: rgb(53, 53, 53);
}

.dark-mood button {
    background: rgb(53, 53, 53);
    border: 1px solid white;
    color: white;
}

.dark-mood a:nth-of-type(5) > button {
    border: 1px solid transparent;
}

.dark-mood svg {
    fill: white;
}