.container-banner {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-banner {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    filter: brightness(0.5);
}

.title-banner {
    position: absolute;
    background: transparent;
    left: 40px;
    bottom: 150px;
    color: white;
    font-size: 6rem;
    text-shadow: 1px 4px 8px black;
    text-align: left;
}

@media screen and (max-width: 400px) {
    .title-banner {
        font-size: 3.2rem;
        left: 10px;
        bottom: 130px;
    }
}